
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400&family=Roboto:wght@300;500;900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;800&family=Open+Sans&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: rgb(238, 201, 15);
    --shd: -0.78px 1.84px 11px 2pxrgba(207,207,207,0.62);
}
/*Clases generales*/
body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #1E1D1C;
}
html body{
    min-height: auto;
    width: 100%;
}
.nav{
    --padding-container: 0 ;
    height: 100px;
    display: flex;
    align-items: center;
}

/*Encabezado*/
.nav__logo{
 
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 10vw 0;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 9vw;
    letter-spacing: 2vw;
    color: #EEEEEE;
}
.aboutS1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    padding-top: 1vw;
    padding-left: 25vw;
}

.izAbS1{
    grid-column:  1/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.izAbS1 h2{
    font-weight: 900;
    font-size: 8vw;
    text-transform: uppercase;
    text-align: right;
    margin-top: -25vw;
}

.derAbS1{
    grid-column:  3/8;
    width: 100%;
    padding: 8vw 60px;
}

.derAbS1 h3{
    font-weight: 900;
    font-size: 2.2vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 4vw;
}

.derAbS1 p{
    font-weight: 100;
    font-size: 1.5vw;
    text-align: justify;
    font-family:'Poppins', sans-serif;
    margin-top: 5vw;
}

.aboutS2{
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.izAbS2{
    grid-column:  1/4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.deAbS2{
    grid-column:  6/10;
    padding: 0px 60px;
}

.deAbS2 p{
   color: rgb(238, 201, 15);
   margin-top: 20px;
   margin-left: -60px ;
   font-size: 1.8vw;
   font-weight: 500;

}

.aboutS2 img{
    position:absolute;
    margin-left: -27vw;
    margin-top: -5vw;
    width: 30vw;
    border-radius: 2vw;
}
@media screen and (max-width: 1440px){

    /*Menu movil*/
.menu_bar{
display: none;
width: 100%;
background-color: #5B5A59;

}
.menu{
display: none;
}
/*Menu*/

.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    width: 100%;
    
    font-family: 'Poppins', sans-serif;
    

}
.nav__bar{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 3em;
}
.nav__items{
    list-style: none;
}
.nav__links{
    color: var(--color-title) ;
    text-decoration: none;
    font-size: 2.3vw;
    font-weight: 400;
    width: 100%;
    padding-top: 1vw;
}
.nav__links:hover{
    color: #EEEEEE;
    border-top: .5vw solid black;
}
.activado_link{
    color: #EEEEEE;
    border-top: .5vw solid var(--color-title); 
}
.activado_link:hover{
    border: none;
    color: #EEEEEE;  
}

/*seccion1*/

.aboutS1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    padding-top: 1vw;
    padding-left: 25vw;
}

.izAbS1{
    grid-column:  1/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2vw;
}

.izAbS1 h2{
    font-weight: 900;
    font-size: 8vw;
    text-transform: uppercase;
    text-align: right;
    margin-top: -30vw;
}

.derAbS1{
    grid-column:  3/8;
    width: 100%;
    padding: 8vw 60px;
}

.derAbS1 h3{
    font-weight: 900;
    font-size: 2.2vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 4vw;
}

.derAbS1 p{
    font-weight: 100;
    font-size: 1.5vw;
    text-align: justify;
    font-family:'Poppins', sans-serif;
    margin-top: 5vw;
}

.aboutS2{
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.izAbS2{
    grid-column:  1/4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.deAbS2{
    grid-column:  6/10;
    padding: 0px 60px;
}

.deAbS2 p{
   color: rgb(238, 201, 15);
   margin-top: 20px;
   margin-left: -60px ;
   font-size: 1.8vw;
   font-weight: 500;

}

.aboutS2 img{
    position:absolute;
    margin-left: -27vw;
    margin-top: -5vw;
    width: 30vw;
    border-radius: 2vw;
}
/*Redes*/
 .SecRedes{
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.SecRedes a {
    width: 8vw;
    height: 8vw;
}

.SecRedes a img{
    width: 80%;
}


/*seccion 7*/
.nav__pagraph{
    padding: 10px;
    margin-bottom: 5px;
}
.nav__paragraph p{
    font-size: 1.5vw;
    letter-spacing: 2px;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 8vw;
}
.nav__paragraph h1{
    font-size: 1.6vw;
    margin-bottom: 6vw;
}

}

@media screen and (max-width:768px) {

    /*Clases generales*/
    .body{
        background-color: #1E1D1C;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .nav{
        --padding-container: 0 ;
        height: 100px;
        display: flex;
        align-items: center;
    }
    
        /*Encabezado*/
    .nav__logo{
        font-weight: 900;
        padding: 5vw 3vw 5vw 10vw;
        margin-bottom: 0vw;
        height: 18vw;
        display:block;
        width: 80%;
    }
    .nav__title{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 8vw;
        letter-spacing: 1.2vw;
        color: #EEEEEE;
    }
    /*Menu movil*/
    header{
        float: right;
    }
    .mobile_menu div{
        display: block;
        top: -12vw;
        left: -8vw;
        position: relative;
        width: 250%;
        height: .7vh;
        background-color: #eeeeee;
        margin: 10px;
        transition: transfom .5s;
    
    }
    .mobile_menu{
        display: block;
        cursor: pointer;
    }
    
    .mobile_menu.active .line-1{
        transform: rotate(-45deg) translate(0vh, 2.8vh);
    }
    
    .mobile_menu.active .line-2{
        opacity: 0;
    }
    
    .mobile_menu.active .line-3{
        transform: rotate(45deg) translate(0vh, -2.8vh);
    }
    
    
    .menu{
        position:absolute;
        display: block;
        z-index: 400;
        width: 70%;
        height: 70%;
        top: 18vh;
        margin-left: 30%;
        right: 0;
        background-color: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 0;
        transform: translateX(100%);
        transition: .5s ease-in;
    }
    .menu.active {
        transform: translateX(0);
    }
    
    .menu ul {
        padding-top: 2px;
        
    }
    
    .menu li{
        display: block;
        float:right;
        border-bottom: 2px solid #000000e0;
        background-color: #292928;
        width: 100%;
        padding: 2vw 8vw;
    }
    
    .menu a{
        position: block;
        font-size: 5vw;
        text-decoration: none;
        color: #eeeeee;
        transition: .5s;
        padding: none;
        float: none;
        width: 100%;
        display: block;
        background-color:none;
        margin-left: 0;
        transition: .5s;
    }
    
    .menu a:hover {
        color: #1E1D1C;
        
    }

    .menu li:hover{
         background-color: #E9BB0A;
    }
    .nav__linksm{
        color: var(--color-title) ;
        text-decoration: none;
        background-color: none;
        font-size: 2vw;
        font-weight: 100;
        width: 100%;
        padding-top: 15px;
    }
    .nav__linksm:hover{
        color: #1E1D1C;
        background-color: #E9BB0A;
        border-top: none;
        background-color:none;
        margin-left: -20px;
    }
    
    .activado_link1{
        color: none;
        border-top: none;
    }
    .activado_link:hover{
        border: none;
        color: #EEEEEE;
        font-weight: 600;
    }
    
    
 /*Menu*/
  .nav__container{
        display: none;
        justify-content: center;
        align-items: center;
        color: #EEEEEE;
        width: 100%;
        font-family: 'Poppins', sans-serif; 
    }


.nav__bar{
    display: none;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 3em;
}

.nav__items{
    list-style: none;
    display: flex;
    float: left;
   
}
.nav__links{
    color: var(--color-title) ;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 4;
    width: 100%;
    padding-top: 10px;
}
.nav__links:hover{
    color: #EEEEEE;
    border-top: 3px solid black;
}
.activado_link{
    color: #EEEEEE;
    border-top: 3px solid var(--color-title); 
}
.activado_link:hover{
    border: none;
    color: #EEEEEE;  
}
  
    /*seccion1*/
    .aboutS1{
        display: block;
        position:relative;
        grid-template-columns: none;
        width: 100%;
        height: auto;
        background-color: #eeeeee;
        padding-top: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    
    .izAbS1{
        grid-column:  none;
        display: block;
        width: 50%;
        align-items: center;
        justify-content: center;
        padding-right: 8vw;
    }
    
    .izAbS1 h2{
        font-weight: 900;
        font-size: 12vw;
        width: 50%;
        text-transform: uppercase;
        text-align: left; 
        margin-top: 8vw;
        margin-left: 47vw;
    }
    
    .derAbS1{
        grid-column:  none;
        width: 100%;
        padding: 8vw 60px;
        position: relative;
        display: block;
    }
    
    .derAbS1 h3{
        font-weight: 900;
        font-size: 3vw;
        letter-spacing: 1vw;
        text-transform: uppercase;
        margin-top: 4vw;
        text-align: center;
    }
    
    .derAbS1 p{
        font-weight: 300;
        width: 100%;
        font-size: 2vw;
        text-align: justify;
        text-align-last: center;
        font-family:'Poppins', sans-serif;
        margin-top: 5vw;
    }
    
    .aboutS2{
        background-color: #eeeeee;
        display: block;
        grid-template-columns: none;
    }
    
    .izAbS2{
        grid-column: none;
        width: 100%;
        display: block;
        flex-direction: none;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .deAbS2{
        grid-column:  none;
        width: 100%;
        padding: 0px 0px;
    }
    
    .deAbS2 p{
       color: rgb(238, 201, 15);
       margin-top: 20px;
       margin-left: 0px ;
       font-size: 2vw;
       font-weight: 500;
    
    }
    
    .aboutS2 img{
        position:absolute;
        margin-left:8vw;
        margin-top: -35vw;
        width: 40vw;
        border-radius: 2vw;
    }

    /*Resdes*/

    
    .SecRedes a img{
        width: 70%;
        height: 70%;
    }
    .SecRedes{
        margin-top: 8vw;
        width: 60%;
    }
    .SecRedes a {
        width: 50px;
        height: 50px;
    }
    
    .SecRedes a img{
        width: 60%;
    }
    
    .nav__pagraph{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav__paragraph p{
        position: relative;
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 2vw;
        letter-spacing: 1px;
        text-align: justify;
        text-align-last: center;
        margin-left: 5vw;
        margin-right: 5vw;
        font-variant-caps: all-small-caps;
        color: #eeeeee7e;
        
    }
    .nav__paragraph h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 35;
        font-size: 2vw;
        letter-spacing: 2px;
        text-align: center;
        font-variant-caps: all-small-caps;
        color: #eeeeee;
        margin-bottom: 5vw;
    }
    
}

@media screen and (max-width:500px) {

    /*Clases generales*/
    .body{
        background-color: #1E1D1C;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .nav{
        --padding-container: 0 ;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
        /*Encabezado*/
    .nav__logo{
        font-weight: 900;
        padding: 5vw 3vw 5vw 10vw;
        margin-bottom: 0vw;
        height: 18vw;
        display:block;
        width: 80%;
    }
    .nav__title{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 8vw;
        letter-spacing: 1.2vw;
        color: #EEEEEE;
    }
    /*Menu movil*/
    header{
        float: right;
    }
    .mobile_menu div{
        display: block;
        top: -14vw;
        left: -12vw;
        position: relative;
        width: 225%;
        height: .7vw;
        background-color: #eeeeee;
        margin: 10px;
        transition: transfom .5s;
    
    }
    .mobile_menu{
        display: block;
        cursor: pointer;
    }
    
    .mobile_menu.active .line-1{
        transform: rotate(-45deg) translate(0vh, 2.3vh);
    }
    
    .mobile_menu.active .line-2{
        opacity: 0;
    }
    
    .mobile_menu.active .line-3{
        transform: rotate(45deg) translate(0vh, -2.3vh);
    }
    
    
    .menu{
        position:absolute;
        display: block;
        z-index: 400;
        width: 70%;
        height: 70%;
        top: 17vw;
        margin-left: 30%;
        right: 0;
        background-color: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 0;
        transform: translateX(100%);
        transition: .5s ease-in;
    }
    .menu.active {
        transform: translateX(0);
    }
    
    .menu ul {
        padding-top: 2px;
        
    }
    
    .menu li{
        display: block;
        float:right;
        border-bottom: 2px solid #000000e0;
        background-color: #292928;
        width: 100%;
        padding: 2vw 8vw;
    }
    
    .menu a{
        position: block;
        font-size: 5vw;
        text-decoration: none;
        color: #eeeeee;
        transition: .5s;
        padding: none;
        float: none;
        width: 100%;
        display: block;
        background-color:none;
        margin-left: 0;
        transition: .5s;
    }
    
    .menu a:hover {
        color: #1E1D1C;
        
    }

    .menu li:hover{
         background-color: #E9BB0A;
    }
    .nav__linksm{
        color: var(--color-title) ;
        text-decoration: none;
        background-color: none;
        font-size: 2vw;
        font-weight: 100;
        width: 100%;
        padding-top: 15px;
    }
    .nav__linksm:hover{
        color: #1E1D1C;
        background-color: #E9BB0A;
        border-top: none;
        background-color:none;
        margin-left: -20px;
    }
    
    .activado_link1{
        color: none;
        border-top: none;
    }
    .activado_link:hover{
        border: none;
        color: #EEEEEE;
        font-weight: 600;
    }
    
    
 /*Menu*/
  .nav__container{
        display: none;
        justify-content: center;
        align-items: center;
        color: #EEEEEE;
        width: 100%;
        font-family: 'Poppins', sans-serif; 
    }


.nav__bar{
    display: none;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 3em;
}

.nav__items{
    list-style: none;
    display: flex;
    float: left;
   
}
.nav__links{
    color: var(--color-title) ;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 4;
    width: 100%;
    padding-top: 10px;
}
.nav__links:hover{
    color: #EEEEEE;
    border-top: 3px solid black;
}
.activado_link{
    color: #EEEEEE;
    border-top: 3px solid var(--color-title); 
}
.activado_link:hover{
    border: none;
    color: #EEEEEE;  
}
  
    /*seccion1*/
    .aboutS1{
        display: block;
        position:relative;
        grid-template-columns: none;
        width: 100%;
        height: auto;
        background-color: #eeeeee;
        padding-top: 1vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    
    .izAbS1{
        grid-column:  none;
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 8vw;
    }
    
    .izAbS1 h2{
        font-weight: 900;
        font-size: 18vw;
        width: 100%;
        text-transform: uppercase;
        text-align: left; 
        margin-top: 8vw;
        margin-left: 19vw;
    }
    
    .derAbS1{
        grid-column:  none;
        width: 100%;
        padding: 8vw 60px;
        position: relative;
        display: block;
    }
    
    .derAbS1 h3{
        font-weight: 900;
        font-size: 3.5vw;
        letter-spacing: .5vw;
        text-transform: uppercase;
        margin-top: 2vw;
        text-align: center;
    }
    
    .derAbS1 p{
        font-weight: 300;
        width: 100%;
        font-size: 2.6vw;
        text-align: justify;
        text-align-last: center;
        font-family:'Poppins', sans-serif;
        margin-top: 5vw;
    }
    
    .aboutS2{
        background-color: #eeeeee;
        display: block;
        grid-template-columns: none;
    }
    
    .izAbS2{
        grid-column: none;
        width: 100%;
        display: block;
        flex-direction: none;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .deAbS2{
        grid-column:  none;
        width: 100%;
        padding: 0px 0px;
    }
    
    .deAbS2 p{
       color: rgb(238, 201, 15);
       margin-top: 20px;
       margin-left: 0px ;
       font-size: 3vw;
       font-weight: 500;
    
    }
    
    .aboutS2 img{
        position:absolute;
        margin-left:42vw;
        margin-top: -32vw;
        width: 38vw;
        border-radius: 0vw;
        clip-path: polygon(0 30%,100% 30%,100% 70%, 0 70%);
    }

    /*Resdes*/

    .seccion7{
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: auto;
        align-content: center;
    
    }
    .SecRedes{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5vw;
        margin-bottom: 5vw;
        margin-left: 25%;
        
    }
    .SecRedes a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
    }
    
    .SecRedes a img{
        width: 70%;
        height: 70%;
    }
    
    .nav__pagraph{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav__paragraph p{
        position: relative;
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.5vw;
        letter-spacing: 2px;
        text-align: justify;
        text-align-last: center;
        margin-left: 5vw;
        margin-right: 5vw;
        font-variant-caps: all-small-caps;
        color: #eeeeee7e;
        
    }
    .nav__paragraph h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 35;
        font-size: 2vw;
        letter-spacing: 2px;
        text-align: center;
        font-variant-caps: all-small-caps;
        color: #eeeeee;
        margin-bottom: 100px;
    }
    
}